.notice== @player.nameが編集したニックネームとamazon関連商品を表示しています。
%style
  ==<!--
  - Character::Values.keys.each do |name|
    - asin = Character.asin(name)
    - item = AmazonItem.find_item(asin)
    - img_url = item.smallimage_url
    ==.#{name} { background-image: url("#{img_url}") }
  ==-->
