%style
  ==<!--
  == .custam_notice { display: block; }
  - (Character::Values.keys + ['ghost']).each do |name|
    - asin = (@custam_edit or @custam).find_card(name).asin
    - item = AmazonItem.find_item(asin)
    - img_url = item.smallimage_url
    ==.#{name} { background-image: url("#{img_url}"); }
  ==-->
