body
  margin: 8 48

.amazon_show
  margin: 20 40
  .spec
    margin: 8
    p
      margin: 0 0
      padding: 0 0

table.characters
  td.image, td.small_image
    padding: 0px 0px
    background-repeat: no-repeat
    background-position: center
    border: solid 1px #4cf
    img
      border: none
  td.image
    height: 48
    width: 80
    img
      height: 48
      width: 80
  td.small_image
    height: 32
    width: 48
    img
      height: 32
      width: 48
  td
    padding: 0px 4px
    border-top: solid 1px #ccc
    border-bottom: solid 1px #ccc

html
  margin: 0 10
h2
  margin: 8 0 4 0
  color: #999
ul
  margin: 10 0

.border
  border: solid 1px #ccc
.l
  text-align: left
.r
  text-align: right
.c
  text-align: center
.b
  font-weight: bold

.debug_log
  margin: 2 1
  padding: 1 4
  color: #c60
  border: solid 1px #fdb
  background-color: #fff8f0
.custam_notice
  display: none
  margin: 4 40
  padding: 8
  font-weight: bold
  text-align: center
  color: #04F
  border: solid 2px #bbf
  background-color: #eef
.notices
  ul
    padding-top: 6
    padding-bottom: 6
    border: solid 2px #fcc
  li
    color: red
  a
    color: red
    font-weight: bold
    text-decoration: underline
.memo
  color: gray
  font-size: 65%
.todo
  color: gray

span.menu
  margin-right: 10

table.characters th
  padding: 0 5
.agi
  font-weight: bold
.plus
  color: #666
  font-size: 80%
a
  text-decoration: none

.logs
  margin: 8 0
  padding: 0 8
  border: solid 1px #bbb
  p
    margin: 0.5em 0
    padding: 0
    color: #666
    
td.amazoninfo
  color: #444
  font-size: 75%

.popup .card_params
  margin-top: -10
  margin-left: 25
  padding: 2 4
  background-color: #ffc
  border: solid 1px #ca8
  position: absolute
  display: none

.popup a:hover .card_params
  color: #000
  display: block

