.amazon_show
  margin: 20 40
  h3
    margin: 4
    color: #149
  .spec
    margin: 8
    p
      margin: 0 0
      padding: 0 0

html
  margin: 0 10
body
.main
  margin: 0 32
  width: 820
  text-align: left
h2
  margin: 8 0 4 0
  color: #999
ul
  margin: 10 0

.border
  border: solid 1px #ccc
.l
  text-align: left
.r
  text-align: right
.c
  text-align: center
.top
  vertical-align: top
.bottom
  vertical-align: bottom
.b
  font-weight: bold

.debug_log
  margin: 2 1
  padding: 1 4
  color: #c60
  border: solid 1px #fdb
  background-color: #fff8f0
.custam_menu
  margin: 8
  padding: 8 16
  table
    td, th
      padding: 0px 4px
      border-top: solid 1px #ccc
      border-bottom: solid 1px #ccc
  .item_images
    margin: 20 0
    img
      margin: 8 4

.custam_notice
  display: none
  margin: 4 40
  padding: 8
  font-weight: bold
  text-align: center
  color: #04F
  border: solid 2px #bbf
  background-color: #eef
.notices
  ul
    padding-top: 6
    padding-bottom: 6
    border: solid 2px #fcc
  li
    color: red
  a
    color: red
    font-weight: bold
    text-decoration: underline
.memo
  color: gray
  font-size: 65%
.todo
  color: gray

span.menu
  margin-right: 10

table.layout
  margin: 16 0
  td.large_associate
    padding: 8 20
    vertical-align: top
    img
      width: 300px
      border: solid 1px #ccc
    .associate
      color: #2266b0
      font-size: 13
      text-align: center
    .title
      margin: 4
      font-size: 11
      color: #666
      text-align: center
  td.main
    padding: 0 0
    vertical-align: top



form
  margin: 16 4

form.custam_edit
  .field
    font-size: 100%
    input
      margin: 4
      font-size: 100%
    textarea
      margin: 2
      font-size: 90%
  .button
    input
      font-size: 120%

table.amazon_items
  td
    padding: 0px 4px
    border-top: solid 1px #ccc
    border-bottom: solid 1px #ccc

table.characters
  th
    padding: 1 5
    color: #fff
    background-color: #999
  th.space
    background-color: #ccc
  th.associate
    color: #fff
    background-color: #2266b0
  td.amazoninfo
    color: #444
    font-size: 75%
  td.image, td.small_image
    padding: 0px 0px
    background-repeat: no-repeat
    background-position: center
    border: solid 1px #ddd
    img
      border: none
  td.image
    height: 48
    width: 80
    img
      height: 48
      width: 80
  td.small_image
    height: 32
    width: 48
    img
      height: 32
      width: 48
  td
    padding: 0px 4px
    border-top: solid 1px #ccc
    border-bottom: solid 1px #ccc
.agi
  font-weight: bold
.plus
  color: #666
  font-size: 80%
a
  text-decoration: none

.logs
  margin: 8 0
  padding: 0 8
  border: solid 1px #bbb
  p
    margin: 0.5em 0
    padding: 0
    color: #666
    
.popup .card_params
  margin-top: -10
  margin-left: 25
  padding: 2 4
  background-color: #ffc
  border: solid 1px #ca8
  position: absolute
  display: none

.popup a:hover .card_params
  color: #000
  display: block

.game_logs
  th
    padding: 8 0
    border-top: solid 1px #eee
  th.headline
    width: 360
    text-align: center
  .turn
    font-size: 12
    color: #666
  td
    padding: 4px 4px
    border-top: solid 1px #ccc
    border-bottom: solid 1px #ccc
  td.associate
    vertical-align: top
    width: 64
    text-align: center
    .associate
      margin: 2
      color: #fff
      color: #2266b0
      font-size: 10
      line-height: 1.0
    .small_image
      margin: 4px 0px
      padding: 0px 0px
      background-repeat: no-repeat
      background-position: center
      width: 72
    .small_spacer
      border: solid 1px #ddd
      width: 72
      height: 56
  td.message
    vertical-align: top
    .body
      min-height: 63
    .info
      font-size: 80%
      color: #888
  .turn1, .turn2, .turn3, .turn4, .turn5
  .next_turn1, .next_turn2, .next_turn3, .next_turn4, .next_turn5
    display: none

