html
  margin: 0 10
h2
  margin: 8 0 4 0
  color: #999
ul
  margin: 10 0

.r
  text-align: right
.c
  text-align: center
.b
  font-weight: bold

.debug_log
  color: #F84
.notice
  color: #0A0
.message a
  color: red
  font-weight: bold
  text-decoration: underline
.memo
  color: gray
.todo
  color: gray

span.menu
  margin-right: 10

table.cards th
  padding: 0 5
.agi
  font-weight: bold
.plus
  color: #666
  font-size: 80%
  vertical-align: bottom
a
  text-decoration: none
